/* You can add global styles to this file, and also import other style files */

// Variable overrides first

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// base
@import "./sass/base/base";

// variables
@import "./sass/variables/variables";

//appComponent
@import "./app/app.component.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
